<html>
<head>
<title>Server info</title>
<style type="text/css">
th, td {
	border:1px solid #1d436a;
	padding: 5px;
}
table {
	border-collapse: collapse;
}
td.caption {
	font-weight: bold;
	vertical-align: top;
}
</style>
</head>
<body>
	<h1 style="background: #1d436a; color: white; padding: 10px 20px;">Students</h1>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Age</th>
			</tr>
		</thead>
		<tbody>
			${TABLE-BODY}
		</tbody>
	</table>
</body>
</html>